'{
  "users": [
  {
   "name": "{{ rabbitmq_config.rabbitmq_default_user }}",
   "password_hash": "{{ rabbitmq_hash_pswd_base64 }}",
   "hashing_algorithm": "rabbit_password_hashing_sha256",
   "tags": "administrator"
  }
  ],
  "vhosts": [
    {
      "name": "{{ rabbitmq_config.rabbitmq_default_vhost }}",
      "metadata": {
          "default_queue_type": "quorum"
            }
    }
  ],
  "permissions": [
    {
      "user": "{{ rabbitmq_config.rabbitmq_default_user }}",
      "vhost": "{{ rabbitmq_config.rabbitmq_default_vhost }}",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    }
  ],
  "policies": [
    {
      "vhost": "{{ rabbitmq_config.rabbitmq_default_vhost }}",
      "name": "ttl-policy",
      "pattern": ".*",
      "apply-to": "queues",
      "priority": 0,
      "definition": {
        "message-ttl": {{ rabbitmq_config.rabbitmq_default_message_ttl }}
      }
    }
  ]
}'